
/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    overflow: hidden;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;

}


/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* home welcome */
.home
{
    background-color: black;
     /* background: url("milky.jpg") no-repeat center; */
    background-color: #111;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.welcome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
   

}
.welcome .text-1
{
    font-size: 27px;
}
.welcome .text-2
{
    font-size: 75px;
    font-weight: 600;
   
}
.welcome .text-3
{
    font-size: 40px;
}
.welcome .text-3 span
{
    color: crimson;
    font-weight: 500;
}
.welcome a{
    
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.welcome a:hover{
    color: crimson;
    background: black;
}
/* home */
.home-content
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}
.welcome
{
    flex-basis: 50%;
   
}
.card
{
    flex-basis: 50%;
  
    transform-style: preserve-3d;

    width:100%;
    position: relative;
    height: 90vh;
   
    


}
.card img
{
 
  position: absolute;
  transition: .3s ease;
  
  
  
  
}
/* animation home/ */
.item1
{
    width: 40%;
    top: 140px;
    left: 30px;
    
}
.item2
{
    width: 40%;
   top: 140px;
   left:280px;
  
   
   
}
.item3
{
    width: 40%;
    top: 300px;
    left: 150px;
}
.item4
{
    width: 40%;
    top:380px;
    left:360px;
    
}
.item5
{
   width: 40%;
   left: 150px;
   top:530px;

}
.item1:hover
{
    transform:rotate(36deg);
    transform-origin:110px 80px ;
} 
.item2:hover
{
    transform:rotate(51deg);
    transform-origin:116px 92px ;
}
.item4:hover
{
    transform:rotate(-29deg);
    transform-origin:110px 80px ;
}
.item5:hover
{
    transform:rotate(36deg);
    transform-origin:110px 80px ;
}
.scroll-down
{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
  justify-content: center;
   
    bottom:10%;
    left: 50%;
    transform: translate(-50% ,48%);
    
   
}
.scroll-down i
{
    font-size: 100px;
    color: white;
    animation:shakes 10s linear infinite;
    
}
.scroll-down:hover i
{
    color: crimson;
}
.scroll-down:hover p
{
    color: crimson;
}

/* shekaes animation */
@keyframes shakes
{
    0%{transform: translateY(0);}
    40%{transform: translateY(0);}
    41%{transform: translateY(20px);}
    42%{transform: translateY(-20px);}
    43%{transform: translateY(20px);}
    44%{transform: translateY(-20px);}
    45%{transform: translateY(20px);}
    46%{transform: translateY(-20px);}
    47%{transform: translateY(20px);}
    48%{transform: translateY(-20px);}
    49%{transform: translateY(20px);}
    50%{transform: translateY(0);}
    90%{transform: translateY(0);}
    91%{transform: translateY(20px);}
    92%{transform: translateY(-20px);}
    93%{transform: translateY(20px);}
    94%{transform: translateY(-20px);}
    95%{transform: translateY(20px);}
    96%{transform: translateY(-20px);}
    97%{transform: translateY(20px);}
    98%{transform: translateY(-20px);}
    99%{transform: translateY(20px);}
    100%{transform: translateY();}
}
.scroll-down p
{
color: white;
font-size: 25px;
}
/* section about me  */
.about
{
    height: 100vh;
    padding-top:150px; ;
}
.about .title::after{
    content: "who am I";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
/* services section styling */
.services, .contact,.gallery{
    color:#fff;
    background: #111;
}
.services .title::before,
.contact .title::before,
.gallery .title::before{
    background: #fff;
}
.services .title::after,
.contact .title::after{
    background: #111;
    content: "what i provide";
}
.services .serv-content .cards{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .cards:hover{
    background: crimson;
}
.services .serv-content .cards .box{
    transition: all 0.3s ease;
}
.services .serv-content .cards:hover .box{
    transform: scale(1.05);
}
.services .serv-content .cards i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .cards:hover i{
    color: #fff;
}
.services .serv-content .cards .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* skils container */
#Vector_23 
{
    
    transform-origin:100% -10px;
    transform: rotate(0deg);
    animation: hand 1s infinite;


}

@keyframes hand
{
    0%
    {
        transform: rotate(0deg);
    }
    20%
    {
        transform: rotate(0.5deg);
    }
    50%
    {
        transform: rotate(1deg);
    }
    70%
    {
        transform: rotate(0.5deg);
    }
    100%
    {
        ransform: rotate(0deg); 
    }
}

#Vectore
{
    transform-origin:50% 0%;
    transform: rotate(0deg);
    animation:right 2s infinite;
  
}
@keyframes right
{
    0%
    {
        transform: rotate(0deg);
    }
    20%
    {
        transform: rotate(2deg);
    }
    50%
    {
        transform: rotate(4deg);
    }
    70%
    {
        transform: rotate(2deg);
    }
    100%
    {
        ransform: rotate(0deg); 
    }
}
.skills
{
    position: relative;
}
.text_los
{
   
  
    position: absolute;
    top: 36%;
    left: 54%;
    color:#DC143C;
    font-size: 45px;
}
/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .react::before{
    width: 50%;
}
.skills-content .right .sass::before{
    width: 70%;
}
/* contact section styling */

.contact
{
    background-color: white;
    color: black;
}
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}
.contact .title::after{
    background: white;
    content: "what i provide";
}
/* gallery section styling */
 .gallery
{
    width: 100%;
    height:100%;
}
.gallery .title::after{
    background: #111;
    content: "what i done";
}

.slide
{
   z-index:1;
   position: absolute;
   width: 100%;
   clip-path: circle(0.0% at 0 50%);
}
.slide.active
{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .slide img
{
    z-index: 1;
    width: 1140px;
    height: 700px;
    border-radius: 5px;
}

 .navigation
{
    z-index: 100;
    position: absolute;
    display: flex;
    bottom: 30px;
    left:50% ;
    transform: translateX(-50%);
}
.btn
{
  
    background-color:white;
    width:12px;
    height: 12px;
    margin:10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);

} 
.btn.active
{
    background:crimson ;
    
}
.container-gallery
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    
}
.img-slider
{
    position: relative; 
    width: 100%;
    height: 70%;
  
}





/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


@media (max-width: 1360px){
    .text_los
    {
       
        top: 36%;
        left: 56%;
        font-size: 45px;
    }

}
@media (max-width: 1245px){
    .text_los
    {
       
        top: 36%;
        left: 59%;
        font-size: 45px;
    }

}



/* media  responsywnosć */

@media (max-width: 1220px){


    .item1
    {
        width: 50%;
        top: 140px;
        left: -45px;
        
    }
    .item2
    {
        width: 50%;
       top: 136px;
       left:217px;
      
       
       
    }
    .item3
    {
        width: 50%;
        top: 300px;
        left: 85px;
    }
    .item4
    {
        width: 50%;
        top:380px;
        left:300px;
        
    }
    .item5
    {
        width: 50%;
       left: 85px;
       top:540px;
    
    }




}
@media (max-width: 990px){


    .item1
    {
        width: 48%;
        top: 170px;
        left: -16px;
        
    }
    .item2
    {
        width: 48%;
       top: 169px;
       left:195px;
      
       
       
    }
    .item3
    {
        width: 48%;
        top: 300px;
        left: 85px;
    }
    .item4
    {
        width: 48%;
        top:361px;
        left:258px;
        
    }
    .item5
    {
        width: 48%;
       left: 85px;
       top:491px;
    
    }




}



@media (max-width: 947px){

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .welcome
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 300px;
       
    
    }
    .welcome .text-1
    {
        font-size: 20px;
    }
    .welcome .text-2
    {
        font-size: 60px;
        font-weight: 600;
       
    }
    .welcome .text-3
    {
        font-size: 30px;
    }
    .welcome .text-3 span
    {
        color: crimson;
        font-weight: 500;
    }
    .welcome a{
    
        display: inline-block;
       
        font-size: 20px;
        width: 200px;
        line-height: 40px;
       
    }
   
}
@media (max-width: 855px){


    .item1 {
        width: 48%;
        top: 193px;
        left: 3px;
    }
    .item2 {
        width: 48%;
        top: 192px;
        left: 176px;
    } 
    
    .item3
    {
        width: 48%;
        top: 300px;
        left: 85px;
    }
    .item4 {
        width: 48%;
        top: 358px;
        left: 228px;
    }
    .item5 {
        width: 48%;
        left: 85px;
        top: 460px;
    }




}